.container{
	      display: grid;
	      background-color: #D2CDCD;
	      grid-template-areas: 'header header header header header header header'
	                   'left-sidebar left-sidebar content content content right-sidebar right-sidebar'
	                   'left-sidebar left-sidebar footer footer footer footer footer';
          grid-gap: 5px;
}
.container>div{
	    background-color: #1297CE;
	    margin: 20px 0;
	    padding: 20px;
	    font-size: 30px;
	    text-align: center;
}
.header{
	    grid-area: header;
}
.left-sidebar{
	  grid-area: left-sidebar;
}
.content{
	     grid-area: content;
}
.right-sidebar{
	     grid-area: right-sidebar;
}
.footer{
	 grid-area: footer;
}